.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid grey;
    z-index: 1000;
    background: linear-gradient(-45deg, #bcbcbc, #dadada, #ffffff, #ffffff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .header-logo {
    width: 60px;
  }
  
  .header-nav {
    margin-left: 20px;
  }
  
  .header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-nav li {
    margin: 10px;
  }
  
  .header-nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header-profile {
    display: flex;
    align-items: center;
  }
  
  .header-profile a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  
  .header-profile button {
    padding: 10px 20px;
    margin-bottom: 5px;
    font-size: larger;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }