.parent-element {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  margin-top: 10%;
}

.word-card {
  position: relative;
  background-color: rgba(247, 247, 247, 0.725);
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.297);
  margin: 20px 0;
  padding: 10px;
  width: 300px;
  height: 400px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.word-card:hover {
  background-color: rgba(255, 255, 255, 0.768);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.word-card.flip {
  transform: rotateY(180deg);
}

.english {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.russian {
  font-size: 2.3rem;
  margin-bottom: 5px;
}

.english::first-letter,
.russian::first-letter {
  text-transform: uppercase;
}

.transcription {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: grey;
  text-shadow: none;

}

.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

.word-card.flipped {
	transform: rotateY(180deg) scale(-1, 1);
}

.word-card.flipped .front {
	transform: rotateY(-180deg);
}

.word-card.flipped .back {
	transform: rotateY(0deg);
}

